html,div{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,32,121,1) 35%, rgba(0,212,255,1) 100%); 
}

h1{
	text-align: center;
	font-size: larger;
	color: white;
}
.jesta {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 15%;
}
#center {    
	text-align: center;  
	}  